body{
    background-color: black;
}
.video-div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.video-div video {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}
.imagem video img {
    width: calc(20% - 10px);
    margin-bottom: 20px;
}
